{% extends 'base.html' %}
{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Agent Details</h1>
        <!-- main -->
        <div class="container-fluid">
            <!--
                          <h2>Dynamic Tabs</h2>
                          <p>To make the tabs toggleable, add the data-toggle="tab" attribute to each link. Then add a .tab-pane class with a unique ID for every tab and wrap them inside a div element with class .tab-content.</p>
            -->


            <ul class="nav nav-tabs navba h5 list-group flex-row">
                <li class="list-group-item"><a data-toggle="tab" href="#sysinfo">System</a></li>
                <li class="list-group-item"><a data-toggle="tab" href="#process">Processes</a></li>
                <li class="list-group-item"><a data-toggle="tab" href="#service">Services</a></li>
                <li class="list-group-item"><a data-toggle="tab" href="#openport">Open Port Scan</a></li>
                <li class="list-group-item"><a data-toggle="tab" href="#execute">Script Execution</a></li>
            </ul>

            <div class="tab-content m-4">
                <div id="sysinfo"
                     class="tab-pane fade in active {% if request.resolver_match.url_name == "agent_details" %}show{% endif %}">
                    <a href="{% url 'boot_control' mac=device_mac  action='restart' %}">
                        <button class="btn btn-sm btn-success">Restart</button>
                    </a>
                    <a href="{% url 'boot_control' mac=device_mac  action='sleep' %}">
                        <button class="btn btn-sm btn-warning">Sleep</button>
                    </a>
                    <a href="{% url 'boot_control' mac=device_mac  action='shutdown' %}">
                        <button class="btn btn-sm btn-danger">Shutdown</button>
                    </a>
                    <hr>
                    <h3>System Information</h3>
                    <div class="row container-fluid">
                        <!-- Start OS Table -->
                        <div class="col col-11 card mx-2 px-1">
                            <table class="table table-sm borde">
                                <thead>
                                <tr>
                                    <th scope="col">Operating System</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>


                                <tr>
                                    <td scope="row">Username</td>
                                    <td>{{ sysinfo.username }}</td>
                                </tr>

                                <tr>
                                    <td scope="row">Machine Name</td>
                                    <td>{{ sysinfo.machine_name }}</td>
                                </tr>

                                <tr>
                                    <td scope="row">OS_name</td>
                                    <td>{{ sysinfo.os_name }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Architecture Type</td>
                                    <td>{{ sysinfo.arc_type }}</td>

                                </tr>
                                <tr>
                                    <td scope="row">OS Version</td>
                                    <td>{{ sysinfo.os_version }}</td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- End OS Table -->
                    </div>
                    <hr>
                    <div class="row container-fluid">
                        <!-- Start Hardware Table -->
                        <div class="col col-6 card mx-2 px-1">
                            <table class="table table-sm borde">
                                <thead>
                                <tr>
                                    <th scope="col">Hardware</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr>
                                    <td scope="row">CPU Model</td>
                                    <td>{{ sysinfo.cpu_model }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">CPU Clock</td>
                                    <td>{{ sysinfo.cpu_clock }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">RAM (GB)</td>
                                    <td>{{ sysinfo.ram_gb }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Cores (Logical + Physical)</td>
                                    <td>{{ sysinfo.cores }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Architecture Type</td>
                                    <td>{{ sysinfo.arc_type }}</td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                        <!-- End Hardware Table -->
                        <!-- Start Network Table -->
                        <div class="col col-5 card mx-2 px-1">
                            <table class="table table-sm borde">
                                <thead>
                                <tr>
                                    <th scope="col">Network</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td scope="row">IP</td>
                                    <td>{{ sysinfo.ip }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Mask</td>
                                    <td>{{ sysinfo.mask }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">Gateway</td>
                                    <td>{{ sysinfo.gateway }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">MAC</td>
                                    <td>{{ sysinfo.mac }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">NIC Type</td>
                                    <td>{{ sysinfo.nic_type }}</td>
                                </tr>
                                <tr>
                                    <td scope="row">NIC Speed (Current Operating)</td>
                                    <td>{{ sysinfo.nic_speed }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- End Network Table -->
                    </div>
                </div>
                <div id="process"
                     class="tab-pane fade {% if pos == "process_kill" %}show{% endif %}">
                    <h3>Processes</h3>


                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Running Processes</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm" id="ProcessTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Process Name</th>
                                        <th>PID</th>
                                        <th>% Process Time</th>
                                        <th>Ram Usage(MB)</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for key,process in processes.items %}
                                        {% if process.pn != "_Total" %}
                                            <tr>

                                                <td>{{ process.pn }}</td>
                                                <td>{{ process.pid }}</td>
                                                <td>{{ process.ppt }}</td>
                                                <td>{{ process.ru }}</td>
                                                <td><a href="{% url 'process_kill' mac=device_mac pn=process.pn %}">
                                                    <button class="btn btn-sm btn-warning">End Task</button>
                                                </a></td>

                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="service"
                     class="tab-pane fade {% if request.resolver_match.url_name == "service_control" %}show{% endif %}">
                    <h3>Services</h3>
                    <emp> Caution : Becarefull while managing these service. changing the status of system serives can
                        cause unexpected problems
                    </emp>
                    <!-- start datatale -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List of Services</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm" id="ServiceTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Manage</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for key,value in services.items %}
                                        <tr>
                                            <td>{{ value.name }}</td>
                                            <td>{{ value.status }}</td>
                                            <td>
                                                {% if value.status != "Running" %}
                                                    <a href="{% url 'service_control' mac=device_mac srv=value.name op='start' %}">
                                                        <button class="btn btn-sm btn-success">Start</button>
                                                    </a>{% endif %}

                                                {% if value.status != "Stopped" %}
                                                    <a href="{% url 'service_control' mac=device_mac srv=value.name op='stop' %}">
                                                        <button class="btn btn-sm btn-warning">Stop</button>
                                                    </a>{% endif %}
                                                <a href="{% url 'service_control' mac=device_mac srv=value.name op='delete' %}">
                                                    <button class="btn btn-sm btn-danger">Delete</button>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end datatale -->

                </div>
                <div id="openport" class="tab-pane fade">
                    <h3>Open Port Scan</h3>
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">List Of Open Ports</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm" id="dataTable" width="100%"
                                       cellspacing="0">
                                    <thead>
                                    <tr>
                                        <th>Sr No.</th>
                                        <th>Port Type</th>
                                        <th>Port No</th>
                                        <th>Application</th>
                                        <th>CPE</th>
                                        <th>Exta Info</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for ports in openports %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ ports.port_type }}</td>
                                            <td>{{ ports.port_no }}</td>
                                            <td>{{ ports.name }}</td>
                                            <td>{{ ports.cpe }}</td>
                                            <td>{{ ports.extrainfo }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="execute"
                     class="tab-pane fade {% if request.resolver_match.url_name == "execute" %}show{% endif %}">
                    <h3>PowerShell Script Execution (Admin)</h3>
                    <form method="post" action="{% url 'execute' mac=device_mac is_first='true'%}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="script">Powershell/Command Script:</label>
                            <textarea class="form-control" name="script" rows="8" id="script"></textarea>
                        </div>
                        <input class="btn btn-success" type="submit" value="Run Script">
                    </form>

                </div>
            </div>
        </div>
        <!--main end-->


    </div>
    <!-- /.container-fluid -->
{% endblock %}