{% extends 'base.html' %}
{% block content %}
            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Dashboard</h1>
                <div class="row">

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total
                                            Devices
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ devices }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-success shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Agents
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ agents }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Active Agents
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ activeagents }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Pending Requests Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-warning shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                            Router/Switches
                                        </div>
                                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ routers }}/{{ switches }}</div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Dont Cross-->
            </div>
            <!-- /.container-fluid -->
            <div class="container-fluid">
                <h1 class="h3 mb-4 text-gray-800">Recent Background Jobs </h1>
                <div class="row">
                    <div class="col col-md-11 card mx-2 px-1 ">
                        <table class="table table-sm borde">
                            <thead>
                            <tr>
                                <th scope="col">IP</th>
                                <th scope="col">Type</th>
                                <th scope="col">Activity</th>
                                <th scope="col">Time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">182.168.1.1</td>
                                <td>Router</td>
                                <td>Just connected</td>
                                <td>4 mins ago</td>

                            </tr>
                            <tr>
                                <td scope="row">192.168.1.2</td>
                                <td>Switch</td>
                                <td>New device identified</td>
                                <td>Just Now</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
{% endblock %}