{% extends 'base.html' %}
{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Network Devices</h1>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Devices Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>IP</th>
                            <th>MAC Address</th>
                            <th>Speed (Mbps)</th>
                            <th>Type</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for device in devices_list %}
                            <tr>
                                <td>{{ device.ip }}</td>
                                <td>{{ device.mac }}</td>
                                <td>{{ device.speed }}</td>
                                <td>{{ device.type }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

{% endblock %}