{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network Engine - Script Results</title>
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <hr>
    <div class="container-fluid">

    <a href="{% url 'agent_details' mac=mac %}">
        <button class="btn btn-sm btn-info">Go Back</button>
    </a>
    <a href="{% url 'execute' mac=mac is_first='false' %}">
        <button class="btn btn-sm btn-warning">Refresh</button>
    </a>

        </div>
    <hr>
    <code class="container-fluid">
    <emp>If you're seeing your own script that means script is taking time to execute In you're having problem try using 'orange' refresh button</emp>
    </code>
        <hr>

    <pre>
    {{ script }}
    </pre>
</code>
</body>
</html>