{% extends 'base.html' %}
{% block content %}

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">Packet Sniffer Scanner</h1>


            {% for snif in sniffers %}
                    <div class="col-xl-4 col-md-6 mb-4">
                        <div class="card border-left-danger shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-lg-6">
                                        <div class="text-xs font-weight-bold text-gray-500 text-uppercase mb-1">IP : {{ snif.ip }}
                                        </div>
                                        <div class="text-xs font-weight-bold text-gray-500 text-uppercase mb-1">Detection : {{ snif.predict }}
                                        </div>
                                        <div class="text-xs font-weight-bold text-gray-500 text-uppercase mb-1">Remarks : {{ snif.remarks }}
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-laptop-code fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}

            </div>
            <!-- /.container-fluid -->

       {% endblock %}