{% extends 'base.html' %}
{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->

        <h1 class="h3 mb-4 text-gray-800">Token Generation</h1>
        <div class="row">
            <div class="card card-body align-content-end">
                <a href="#" class="btn btn-primary btn-icon-split ">
                    <span class="icon text-white-50">
                      <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Split Button Primary</span>
                </a>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

{% endblock %}