{% extends 'base.html' %}
{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Active Tokens</h1>


        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Devices Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Sr No.</th>
                            <th>Token</th>
                            <th>Mac Address</th>
                            <th>Status</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for token in activetokens %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ token.token }}</td>
                                <td>{{ token.mac }}</td>
                                <td> Agent/Token</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
    <!-- /.container-fluid -->

{% endblock %}